.local-navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--space-md);
    margin-bottom: var(--space-md);
}

.nav-logo {
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
}

.nav-links {
    display: flex;
    gap: var(--space-sm);
}