.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box {
    background: var(--color-surface);
    padding: var(--space-lg);
    border-radius: var(--radius-lg);

    box-shadow: var(--shadow-soft), var(--shadow-inner);
}